In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/sneha/Downloads/FAOSTAT_data_en_1-7-2024.csv")

In [3]:
df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1970,1970,million USD,1731.435587,X,Figure from international organizations,NaN
1,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1971,1971,million USD,1812.837521,X,Figure from international organizations,NaN
2,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1972,1972,million USD,1647.900178,X,Figure from international organizations,NaN
3,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1973,1973,million USD,1702.716294,X,Figure from international organizations,NaN
4,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1974,1974,million USD,2061.729287,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2018,2018,million USD,23645.265549,X,Figure from international organizations,NaN
10691,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2019,2019,million USD,22594.520375,X,Figure from international organizations,NaN
10692,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2020,2020,million USD,21664.745864,X,Figure from international organizations,NaN
10693,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2021,2021,million USD,24118.150864,X,Figure from international organizations,NaN
10694,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2022,2022,million USD,25354.615234,E,Estimated value,NaN

In [9]:
df1 = pd.read_csv("C:\\Users\\sneha\\Downloads\\P_Data_Extract_From_World_Development_Indicators\\ca52db21-6e0b-4ff9-9613-4b8fa3b3c078_Series - Metadata.csv", encoding = 'latin1')

In [10]:
df1

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,..,..,34.6,32.8,33.7,33.1,30.1,30.1,29.4,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 12/18/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Unit of measure,Periodicity,Statistical concept and methodology,Development relevance,Limitations and exceptions,General comments,Related source links,License URL,NaN
272,SI.POV.GINI,CC BY-4.0,Gini index,The Gini index measures the extent to which th...,Gini index measures the extent to which the di...,"World Bank, Poverty and Inequality Platform. D...",Poverty: Income distribution,%,Annual,The Gini index measures the area between the L...,The World Bank Group's goal of promoting share...,Gini coefficients are not unique. It is possib...,The World BankÂ’s internationally comparable po...,"World Bank, Poverty and Inequality Platform: h...",https://datacatalog.worldbank.org/public-licen...,NaN

In [11]:
df2 = pd.read_csv("C:\\Users\\sneha\\Downloads\\P_Data_Extract_From_World_Development_Indicators\\ca52db21-6e0b-4ff9-9613-4b8fa3b3c078_Data.csv", encoding = 'latin1')

In [12]:

df2

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,..,..,34.6,32.8,33.7,33.1,30.1,30.1,29.4,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 12/18/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', nan], dtype=object)

In [14]:
df3 = pd.read_csv("C:/Users/sneha/Downloads/FAOSTAT_data_en_1-7-2024 (1).csv")
df3

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1970,1970,USD,161.019274,X,Figure from international organizations,NaN
1,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1971,1971,USD,164.566181,X,Figure from international organizations,NaN
2,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1972,1972,USD,146.003034,X,Figure from international organizations,NaN
3,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1973,1973,USD,147.099044,X,Figure from international organizations,NaN
4,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1974,1974,USD,173.694213,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10652,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2018,2018,USD,1570.886029,X,Figure from international organizations,NaN
10653,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2019,2019,USD,1471.513983,X,Figure from international organizations,NaN
10654,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2020,2020,USD,1382.591426,X,Figure from international organizations,NaN
10655,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2021,2021,USD,1507.994790,X,Figure from international organizations,NaN
10656,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2022,2022,USD,1553.540501,E,Estimated value,NaN

In [15]:
gdp = df

In [16]:
gdp

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1970,1970,million USD,1731.435587,X,Figure from international organizations,NaN
1,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1971,1971,million USD,1812.837521,X,Figure from international organizations,NaN
2,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1972,1972,million USD,1647.900178,X,Figure from international organizations,NaN
3,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1973,1973,million USD,1702.716294,X,Figure from international organizations,NaN
4,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22008,Gross Domestic Product,1974,1974,million USD,2061.729287,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2018,2018,million USD,23645.265549,X,Figure from international organizations,NaN
10691,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2019,2019,million USD,22594.520375,X,Figure from international organizations,NaN
10692,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2020,2020,million USD,21664.745864,X,Figure from international organizations,NaN
10693,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2021,2021,million USD,24118.150864,X,Figure from international organizations,NaN
10694,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2022,2022,million USD,25354.615234,E,Estimated value,NaN

In [17]:
gdp_col_keep = ['Area', 'Item', 'Year', 'Value', 'Unit']

gdp = gdp[gdp_col_keep]

gdp

              Area                    Item  Year         Value         Unit
0      Afghanistan  Gross Domestic Product  1970   1731.435587  million USD
1      Afghanistan  Gross Domestic Product  1971   1812.837521  million USD
2      Afghanistan  Gross Domestic Product  1972   1647.900178  million USD
3      Afghanistan  Gross Domestic Product  1973   1702.716294  million USD
4      Afghanistan  Gross Domestic Product  1974   2061.729287  million USD
...            ...                     ...   ...           ...          ...
10690     Zimbabwe  Gross Domestic Product  2018  23645.265549  million USD
10691     Zimbabwe  Gross Domestic Product  2019  22594.520375  million USD
10692     Zimbabwe  Gross Domestic Product  2020  21664.745864  million USD
10693     Zimbabwe  Gross Domestic Product  2021  24118.150864  million USD
10694     Zimbabwe  Gross Domestic Product  2022  25354.615234  million USD

[10695 rows x 5 columns]

In [18]:
gini = df2

gini

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,..,..,34.6,32.8,33.7,33.1,30.1,30.1,29.4,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 12/18/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
column_name = "Country Name"
Val_exclude = ['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'nan']

gini = gini[~gini[column_name].isin(Val_exclude)]

gini

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,..,..,34.6,32.8,33.7,33.1,30.1,30.1,29.4,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 12/18/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
gini['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', nan],
      dtype=object)

In [28]:
melted_df = pd.melt(gini, id_vars=['Country Name', "Country Code"], var_name='Year', value_name='Value')

# Convert the 'time' column to int
melted_df['Year'] = melted_df['Year']

melted_df

        Country Name Country Code           Year       Value
0        Afghanistan          AFG    Series Name  Gini index
1            Albania          ALB    Series Name  Gini index
2            Algeria          DZA    Series Name  Gini index
3     American Samoa          ASM    Series Name  Gini index
4            Andorra          AND    Series Name  Gini index
...              ...          ...            ...         ...
3103             NaN          NaN  2022 [YR2022]         NaN
3104             NaN          NaN  2022 [YR2022]         NaN
3105             NaN          NaN  2022 [YR2022]         NaN
3106             NaN          NaN  2022 [YR2022]         NaN
3107             NaN          NaN  2022 [YR2022]         NaN

[3108 rows x 4 columns]

In [29]:
melted_df['Year'].unique()

array(['Series Name', 'Series Code', '1990 [YR1990]', '2000 [YR2000]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]', '2022 [YR2022]'], dtype=object)

In [30]:
column_name = "Year"
Val_exclude = ['Series Name', 'Series Code']

melted_df = melted_df[~melted_df[column_name].isin(Val_exclude)]

melted_df

        Country Name Country Code           Year Value
444      Afghanistan          AFG  1990 [YR1990]    ..
445          Albania          ALB  1990 [YR1990]    ..
446          Algeria          DZA  1990 [YR1990]    ..
447   American Samoa          ASM  1990 [YR1990]    ..
448          Andorra          AND  1990 [YR1990]    ..
...              ...          ...            ...   ...
3103             NaN          NaN  2022 [YR2022]   NaN
3104             NaN          NaN  2022 [YR2022]   NaN
3105             NaN          NaN  2022 [YR2022]   NaN
3106             NaN          NaN  2022 [YR2022]   NaN
3107             NaN          NaN  2022 [YR2022]   NaN

[2664 rows x 4 columns]

In [31]:
gini_coeff = melted_df

In [32]:
df3

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1970,1970,USD,161.019274,X,Figure from international organizations,NaN
1,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1971,1971,USD,164.566181,X,Figure from international organizations,NaN
2,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1972,1972,USD,146.003034,X,Figure from international organizations,NaN
3,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1973,1973,USD,147.099044,X,Figure from international organizations,NaN
4,MK,Macro Indicators,4,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,1974,1974,USD,173.694213,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10652,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2018,2018,USD,1570.886029,X,Figure from international organizations,NaN
10653,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2019,2019,USD,1471.513983,X,Figure from international organizations,NaN
10654,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2020,2020,USD,1382.591426,X,Figure from international organizations,NaN
10655,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2021,2021,USD,1507.994790,X,Figure from international organizations,NaN
10656,MK,Macro Indicators,716,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2022,2022,USD,1553.540501,E,Estimated value,NaN

In [33]:
gdp_per_capita = df3

In [34]:
gdp_per_capita_col_keep = ['Area', 'Item', 'Year', 'Value', 'Unit']

gdp_per_capita = gdp_per_capita[gdp_per_capita_col_keep]

gdp_per_capita

              Area                    Item  Year        Value Unit
0      Afghanistan  Gross Domestic Product  1970   161.019274  USD
1      Afghanistan  Gross Domestic Product  1971   164.566181  USD
2      Afghanistan  Gross Domestic Product  1972   146.003034  USD
3      Afghanistan  Gross Domestic Product  1973   147.099044  USD
4      Afghanistan  Gross Domestic Product  1974   173.694213  USD
...            ...                     ...   ...          ...  ...
10652     Zimbabwe  Gross Domestic Product  2018  1570.886029  USD
10653     Zimbabwe  Gross Domestic Product  2019  1471.513983  USD
10654     Zimbabwe  Gross Domestic Product  2020  1382.591426  USD
10655     Zimbabwe  Gross Domestic Product  2021  1507.994790  USD
10656     Zimbabwe  Gross Domestic Product  2022  1553.540501  USD

[10657 rows x 5 columns]

In [38]:
gini_coeff.to_csv('C:\\Users\\sneha\\Downloads\\gini_coeff.csv', index=False)

In [39]:
gdp.to_csv('C:\\Users\\sneha\\Downloads\\gdp.csv', index = False)

In [40]:
gdp_per_capita.to_csv('C:\\Users\\sneha\\Downloads\\gdp_per_capita.csv', index=False)